.portfolios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  padding: 3rem;
  margin: 3rem;
}
.portfolios .portfolio-item {
  position: relative;
  border-radius: 15px;
  border: 2px solid var(--secondary-heading-color);

}
.portfolios .portfolio-item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
}
.portfolios .portfolio-item .hover-items {
  width: 100%;
  height: 100%;
  background-color: var(--button-bg);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transform: scale(0);
  transition: all 0.4s ease-in-out;
}
.portfolios .portfolio-item .hover-items h3 {
  font-size: 1.5rem;
  color: var(--white-color);
  margin-bottom: 1.5rem;
}
.portfolios .portfolio-item .hover-items .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolios .portfolio-item .hover-items .icons .icon {
  background-color: var(--white-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.portfolios .portfolio-item .hover-items .icons .icon i {
  font-size: 2rem;
  color: var(--black-color);
}

.portfolios .portfolio-item .hover-items .icons .icon .social-icon {
  font-size: 2rem;
}

.portfolios .portfolio-item .hover-items .icons .icon:hover {
  background-color: var(--white-color);
  color: var(--secondary-heading-color);
}
.portfolios .portfolio-item .hover-items .icons .icon:hover i {
  color: var(--white-color);
}

.portfolio-item:hover .hover-items {
  opacity: 1;
  transform: scale(1);
}

.portfolio-flters {
  padding: 0;
  margin: 0 auto 20px auto;
  list-style: none;
  text-align: center;
}

.portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 16px 10px 16px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  margin-left: 0.3rem;
  text-transform: uppercase;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  border-radius: 50px;
  border: 1px solid var(--button-bg);
  color: var(--secondary-heading-color);
}

.portfolio-flters li:hover,
.portfolio-flters li.filter-active {
  color: var(--white-color);
  background: var(--button-bg);
}

.portfolio-flters li:last-child {
  margin-right: 0;
}
/* 
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  padding: 1rem 1.5rem;
  width: 70%;
  height: 70%;
  border-radius: 0.5rem;
  border: 2px solid var(--button-bg);
}

.modal-content {
  padding: 0.5rem;
}

.modal-content h2 {
  margin-bottom: 0.2rem;
}

.modal-content p {
  margin-bottom: 1rem;
}

.modal-content .portfolio-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 500px;
  grid-gap: 0.5rem;
}

.portfolio-images img {
  width: 200px;
  height: 180px;
  object-fit: cover;
  border-radius: 15px;
}

.modal-content button {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 2rem;
} */

/* =========== MEDIA Queries (Medium devices) =========== */
@media screen and (max-width: 1024px) {
  .portfolios {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

/* =========== MEDIA Queries (Small devices) =========== */
@media screen and (max-width: 600px) {
  .portfolios {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
