.container.contact__container {
  width: 58%;
  display: grid;
  grid-template-columns: 30% 50%;
  gap: 12%;
}

.contact__options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact__option {
  border: 2px solid var(--button-bg);
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  transition: var(--transition);
  color: var(--secondary-heading-color);
}

.contact__option h5 {
  color: var(--secondary-heading-color);
}

.contact__option a {
  color: var(--button-bg);
  font-style: italic;
  transform: scale(0.3deg);
}

.contact__option a:hover {
  color: var(--secondary-heading-color);
}

.contact__option-icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.contact__option a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.8rem;
}

/* ========== Form =========== */

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:var(--secondary-heading-color);
}

input,
textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid var(--button-bg);
  resize: none;
  color: var(--secondary-heading-color);
}

/* =========== MEDIA Queries (Medium devices) =========== */
@media screen and (max-width: 1024px) {
  .container.contact__container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

/* =========== MEDIA Queries (Small devices) =========== */
@media screen and (max-width: 600px) {
  .container.contact__container {
    width: var(--container-width-sm);
  }
}
