.container.contact__container {
  width: 80%;
  display: grid;
  grid-template-columns: 40% 50%;
  gap: 10%;
 
}

.contact__options {
  display: grid;
  flex-direction: column;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.2rem;
  margin-bottom: 5rem;
}

.contact__options a {
  display: inline-block;
  text-align: center;
  color: var(--white-color);
  background: var(--button1-bg);
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: var(--transition);
  border: 2px solid var(--button1-bg);
}

.contact__options h4 {
 font-weight: 400;
}

.contact__options a:hover {
  background: var(--button-hover);
  color: var(--black-color);
  border: 2px solid var(--button1-bg);
  border-radius: 0.4rem;
}

.contact__option-icon {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

/* ========== Form =========== */

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: var(--secondary-black);
}

input,
textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid var(--black-color);
  resize: none;
  color: var(--secondary-black);
}

/* =========== MEDIA Queries (Medium devices) =========== */
@media screen and (max-width: 1024px) {
  .container.contact__container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

/* =========== MEDIA Queries (Small devices) =========== */
@media screen and (max-width: 600px) {
  .container.contact__container {
    width: var(--container-width-sm);
  }
}
