header {
  height: 80vh;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 50%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.header__container p {
  font-size: 1.5rem;
  padding-top: 3rem;
  letter-spacing: 6px;
  color:var(--main-heading);
}

/* ========= Animated heading ========= */
.content {
  display: flex;
  margin-top: 3rem;
  padding-bottom: 2rem;
  align-items: center;
  justify-content: center;
}

.content h2 {
  color: blue;
  font-size: 5rem;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 1px var(--hero-text);
}

.content h2:nth-child(2) {
  color: var(--button-bg);
  animation: animate 7s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

/* =========== CTA =========== */

.cta {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

/* =========== Header socials =========== */

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  
}

.header__socials a {
  font-size: 1.5rem;
  color:var(--third-heading);
}

.header__socials a:hover {
  color: var(--button-bg);
}

.header__socials:after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--white-color);
}

/* =========== Profile image =========== */

.me {
  width: 17rem;
  height: 20rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

/* =========== MEDIA Queries (Medium devices) =========== */
@media screen and (max-width: 1024px) {
  header {
    height: 95vh;
  }

  .content h2 {
    color: #fff;
    font-size: 4rem;
    position: fixed;
  }
}

/* =========== MEDIA Queries (Small devices) =========== */
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }

  .header__socials {
    bottom: 0rem;
  }

  .content h2 {
    color: #fff;
    font-size: 4rem;
    position: fixed;
  }
}
