footer {
  background: var(--secondary-heading);
  padding: 2rem 0;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 5rem;
}

footer a {
  color: var(--white-color);
}

footer a:hover {
  color: var(--button-bg);
}

.footer__logo {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  display: inline-block;
  color: var(--white-color);
}

.permalinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto 3rem;
}

.footer__socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 4rem;
}

.footer__socials a {
  margin-left: 1rem;
  font-size: 2rem;
}

.footer__socials a:hover {
  background: transparent;
  color: var(--button-bg);
}
/* 
.footer__copyright {
  margin-bottom: 4rem;
  color: var(--white-color);
} */


/* =========== MEDIA Queries (Small devices) =========== */
@media screen and (max-width: 600px) {
    .permalinks{
        flex-direction: column;
        gap: 1.5rem;
    }

    .footer__socials{
        margin-bottom: 2.5rem;
    }
  }
  