.container.testimonals__container {
  width: 40%;
}

.client__avatar {
  font-size: 2rem;
  overflow: hidden;
  margin: 0 auto 1rem;
  color: var(--button-bg);
}

.testimonial {
  border: 2px solid var(--button-bg);
  text-align: center;
  padding: 2rem;
  border-radius: 2rem;
  user-select: none;
}

.testimonial h4,
h5 {
  color: var(--secondary-heading-color);
}

.platform {
  color: var(--heading-color);
  font-style: italic;
  font-weight: 400;
  margin-top: 0.5rem;
}

.client__review {
  color: var(--secondary-heading-color);
  font-weight: 400;
  display: block;
  width: 80%;
  margin: 2rem auto 0;
}

.left {
  color: var(--button-bg);
  margin-top: 2rem;
  font-size: 1.5rem;
  margin-right: 2rem;
  cursor: pointer;
}

.right {
  color: var(--button-bg);
  font-size: 1.5rem;
  cursor: pointer;
}

.left:hover {
  color: var(--secondary-heading-color);
}

.right:hover {
  color: var(--secondary-heading-color);
}

/* =========== MEDIA Queries (Medium devices) =========== */
@media screen and (max-width: 1024px) {
  .container.testimonals__container {
    width: 60%;
  }
}

/* =========== MEDIA Queries (Small devices) =========== */
@media screen and (max-width: 600px) {
  .container.testimonals__container {
    width: var(--container-width-sm);
  }

  .client__review {
    width: var(--container-width-sm);
  }
}
