@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --grey-color: #d3d3d3;
  --dark-grey-color: #808080;
  --grey-platinum-color: #e5e4e2;
  --white-color: #ffffff;
  --black-color: #353935;
  --off-white-color: #faf9f6;
  --charcoal-color: #36454f;

  --bg-color: #f6f6f6;
  
  --button1-color: #408697;
  --button2-color: #52d6f4;

  /* -------- Gorgeous Contrast scheme ------ */
  --main-heading: #ffffff;
  --secondary-heading: #61892f;
  --third-heading: #e5e4e2;
  
  --bg-color: #222629;
  --bg2-color: #363538;

  --button-bg: #86c232;
  --button2-bg: #61892f;

  --hero-text: #86c232;

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Noto Sans", sans-serif;
  background: var(--bg-color);
  color: var(--bg-color);
  line-height: 1.7;
  /*To add background texture later */
}

/* =========== General Styles =========== */

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

section {
  margin-top: 8rem;
}

section > h2,
section > h5 {
  text-align: center;
  color: var(--third-heading);
}

section > h2 {
  color: var(--white-color);
  margin-bottom: 3rem;
}

.text-dark {
  color: var(--charcoal-color);
}

a {
  color: var(--heading-color);
  transition: var(--transition);
}

a:hover {
  color: var(--button1-color);
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--black-color);
  font-weight: 500;
  background: var(--button-bg);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: var(--transition);
}

.btn:hover {
  background: var(--dark-grey-color);
  color: var(--white-color);
}

.btn-secondary {
  background: var(--button2-bg);
  color: var(--white-color);
}

.btn-secondary:hover {
  background: var(--dark-grey-color);
  color: var(--white-color);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.social-icons img {
  width: 5%;
  object-fit: cover;
}

/* ============ MEDIA Queries (Medium devices) ============= */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  section {
    margin-top: 6rem;
  }
}

/* ============ MEDIA Queries (Small devices) ============= */
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  section > h2 {
    margin-bottom: 2rem;
  }
}
