@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --black-color: #353935;
  --secondary-black: #323232;

  --grey-color: #d3d3d3;
  --dark-grey: #808080;
  --grey-platinum-color: #e5e4e2;

  --white-color: #ffffff;
  --off-white-color: #faf9f6;
  
  --charcoal-color: #36454f;

  --bg-color: #f6f6f6;

  --button1-bg: #323232;
  --button2-bg: #808080;
  --button-hover: #faf9f6;

  --animated-text: #323232;

  /* -------- Blue scheme ------ */
  --heading-color: #1c3879;

  --button-bg: #3f72af;

  --button1-hover: #2e4c6d;

  --button2-hover: var(--button1-hover);

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

html {
  scroll-behavior: smooth;
  overflow-y: auto;
}

body {
  font-family: "Noto Sans", sans-serif;
  background: var(--bg-color);
  color: var(--bg-color);
  line-height: 1.7;
  /*To add background texture later */
}

/* =========== General Styles =========== */

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

section {
  margin-top: 8rem;
}

section > h2,
section > h5 {
  text-align: center;
  color: var(--black-color);
}

section > h5{
  padding-top: 5rem;
}

section > h2 {
  color: var(--secondary-black);
  margin-bottom: 3rem;
}

.text-dark {
  color: var(--charcoal-color);
}

a {
  transition: var(--transition);
}


.btn {
  width: max-content;
  display: inline-block;
  color: var(--white-color);
  font-weight: 400;
  background: var(--button1-bg);
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: var(--transition);
  border: 2px solid var(--button1-bg);
}

.btn:hover {
  background: var(--button-hover);
  color: var(--black-color);
  border: 2px solid var(--button1-bg);
  border-radius: 0.4rem;
}

.btn-secondary {
  width: max-content;
  display: inline-block;
  color: var(--white-color);
  font-weight: 400;
  background: var(--button2-bg);
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: var(--transition);
  border: 2px solid var(--button2-bg);
}

.btn-secondary:hover {
  background: var(--button-hover);
  color: var(--black-color);
  border: 2px solid var(--button2-bg);
  border-radius: 0.4rem;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.social-icons img {
  width: 5%;
  object-fit: cover;
}

/* ============ MEDIA Queries (Medium devices) ============= */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  section {
    margin-top: 6rem;
  }
}

/* ============ MEDIA Queries (Small devices) ============= */
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  section > h2 {
    margin-bottom: 2rem;
  }
}
