nav {
  display: block;
  border-end-start-radius: 3rem;
  border-end-end-radius: 3rem;
  margin-left: auto;
  margin-right: auto;
  background: var(--grey-platinum-color);
  padding: 4px;
  border-bottom: 1px solid var(--button-bg);
  border-left: 1px solid var(--button-bg);
  border-right: 1px solid var(--button-bg);  
  top: 0px;
  text-align: center;
  width: 60%;
  position: sticky;
  z-index: 100;
  transition: var(--transition);
  
}

nav a {
  color:var(--secondary-heading-color);
  text-decoration:none;
  margin: 0px 25px;
  font-size: 1rem;
}

nav a:hover {
  color: var(--button-bg);
}

nav a.active {
  color: var(--button-bg);
}

/* =========== MEDIA Queries (Medium devices) =========== */
@media screen and (max-width: 1024px) {
  nav {
    width: 95%;
  }

  nav a {
    margin: 0px 20px;
    font-size: 1rem;
  }
}

/* =========== MEDIA Queries (Small devices) =========== */
@media screen and (max-width: 600px) {
  nav {
    width: 90%;
  }

  nav a {
    margin: 0px 10px;
    font-size: 0.8rem;
  }
}
